body {
    margin: 0;
    padding: 0;
    font-size: 2vw;
}

.header {
    text-align: center;
    padding: 5px;
    background-color: #282c34;
    color: white;
}

.sidebar {
    border: 1px solid black;
    float: left;
    width: 20%;
    

}
.tasks {
    border: 1px solid black;
    padding: 1em;
}

.content {
    border: 1px solid black;
    margin-left: 20%;
    padding: 1em;
}

.calendar {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}

.notes {

    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}

textarea {
    width: 100%;
}